body, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, sans-serif;
}

#testtable tr th:nth-child(3) {
    display: none;
}
#testtable tr th:nth-child(3) {
    display: none;
}
#testtable tr th:nth-child(5) {
    display: none;
}
#testtable tr th:nth-child(5) {
    display: none;
}
#testtable tr td:nth-child(3) {
    display: none;
}
#testtable tr td:nth-child(3) {
    display: none;
}
#testtable tr th:nth-child(2) {
    display: none;
}
#testtable tr th:nth-child(4) {
    display: none;
}

#testtable tr td:nth-child(2) {
    display: none;
}
#testtable tr td:nth-child(4) {
    display: none;
}
#testtable tr td:nth-child(5) {
    display: none;
}
#testtable tr td:nth-child(5) {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top: 50%;
    left: 50%;
    position: absolute;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.div_search {
    width: 100%;
    height: 40px;
}

#div_announcement_container {
    background-color: white;
    color: black;
    height: 95%;
    font-family: "Verdana";
    font-size: 25px;
}

#div_announcement_container > h1, h2, h3,h4, h5, h6{
    font-weight: bold;
}

#textarea_announcement {
    width: 90%;
    height: 100vh;
}



.w3-row-padding img {
    margin-bottom: 12px}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
    width:120px;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(204, 204, 204, 0.5);
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
    margin-left: 120px;}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
    #main {margin-left: 0}}
